[submodule "UseCaseBackend-AirPollution"]
	path = UseCaseBackend-AirPollution
	url = https://github.com/bugrayalcinqimia/UseCaseBackend-AirPollution
[submodule "UseCaseFrontend-SWCotD"]
	path = UseCaseFrontend-SWCotD
	url = https://github.com/caneryildizQimia/UseCaseFrontend-SWCotD
