[submodule "UseCaseBackend-AirPollution"]
	path = UseCaseBackend-AirPollution
	url = https://github.com/bugrayalcinqimia/UseCaseBackend-AirPollution
[submodule "vhh-case-studies"]
	path = vhh-case-studies
	url = https://github.com/caneryildizQimia/vhh-case-studies.git
